In [1]:
import pandas as pd
from datetime import datetime, timedelta
from pandas import DataFrame

In [2]:
accident_data = "Raw_data/accident_data_new.csv"
covid_data = "Raw_data/us_counties_covid19_daily.csv"

In [3]:
accident_df = pd.read_csv(accident_data, encoding="ISO-8859-1")
covid_df = pd.read_csv(covid_data, encoding="ISO-8859-1")

In [4]:
accident_df.head()

         ID           Start_Time          City    County State Zipcode
0  A-512230  2020-05-24 01:37:16       Buffalo      Erie    NY   14225
1  A-512231  2020-05-24 04:19:35  Grand Island      Erie    NY   14072
2  A-512232  2020-05-24 16:00:22       Hamburg      Erie    NY   14075
3  A-512233  2020-05-24 09:21:07       Duxbury  Plymouth    MA   02332
4  A-512234  2020-05-24 15:13:34   Charlestown   Suffolk    MA   02129

In [5]:
covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [6]:
accident_df['Start_Time'] = pd.to_datetime(accident_df['Start_Time'])

accident_df['Start_Time'] = pd.to_datetime(accident_df['Start_Time']).dt.date

# accident_df.date = pd.to_datetime(accident_df.Start_Time,format= '%Y-%m-%d')

In [7]:
accident_df.head()

         ID  Start_Time          City    County State Zipcode
0  A-512230  2020-05-24       Buffalo      Erie    NY   14225
1  A-512231  2020-05-24  Grand Island      Erie    NY   14072
2  A-512232  2020-05-24       Hamburg      Erie    NY   14075
3  A-512233  2020-05-24       Duxbury  Plymouth    MA   02332
4  A-512234  2020-05-24   Charlestown   Suffolk    MA   02129

In [8]:
covid_df['date'] = pd.to_datetime(covid_df['date'])

covid_df['date'] = pd.to_datetime(covid_df['date']).dt.date

covid_df.date = pd.to_datetime(covid_df.date,format= '%Y %m %d')

In [9]:
covid_df.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1       0
1 2020-01-22  Snohomish  Washington  53061.0      1       0
2 2020-01-23  Snohomish  Washington  53061.0      1       0
3 2020-01-24       Cook    Illinois  17031.0      1       0
4 2020-01-24  Snohomish  Washington  53061.0      1       0

In [10]:
new_covid_df=covid_df[["date", "county","state","cases","deaths"]]

In [14]:
new_covid_df.head()

        date     county       state  cases  deaths
0 2020-01-21  Snohomish  Washington      1       0
1 2020-01-22  Snohomish  Washington      1       0
2 2020-01-23  Snohomish  Washington      1       0
3 2020-01-24       Cook    Illinois      1       0
4 2020-01-24  Snohomish  Washington      1       0

In [11]:
accident_df.dtypes

ID            object
Start_Time    object
City          object
County        object
State         object
Zipcode       object
dtype: object

In [12]:
new_covid_df.dtypes

date      datetime64[ns]
county            object
state             object
cases              int64
deaths             int64
dtype: object

In [16]:
# accident_df.to_csv("accident_data_final.csv", index=False, header=True)
new_covid_df.to_csv("covid_data_final.csv", index=False, header=True)