In [ ]:
import pandas as pd
 
from sqlalchemy import create_engine
from config import user_name,password,port_no,db_name
 
engine = create_engine(f'postgresql://{user_name}:{password}@localhost:{port_no}/{db_name}')
connection = engine.connect()

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt
import numpy as np
import scipy.stats as stats

In [ ]:
# employees_df = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])
# employees_df.head()


# salaries_df = pd.read_sql('select * from salaries', connection)
# salaries_df

In [ ]:
# salaries_df[['salary']] = salaries_df[['salary']].replace( '[\$,)]','', regex=True ).astype(float)

# salaries_df.hist(column='salary')
# plt.hist(salaries_df['salary'], 20, density=False, label="Salary")
# plt.axvline(salaries_df['salary'].mean(), color='k', linestyle='dashed', linewidth=1, label="Salary Mean")
# plt.xlabel("Salary")
# plt.ylabel("Number of Employees")
# plt.legend() 
# plt.title("Common Salary Ranges")
#  plt.savefig("Common Salary Ranges.png")

In [ ]:

#Create a bar chart of average salary by title.

employees_df = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])
employees_df.head()


salaries_df = pd.read_sql('select * from salaries', connection)
salaries_df
salaries_df[['salary']] = salaries_df[['salary']].replace( '[\$,)]','', regex=True ).astype(float)

titles_df = pd.read_sql('select * from titles', connection )
titles_df.head()
 

#pd.merge(product,customer,left_on='Product_name',right_on='Purchased_Product')

employees_sal_title = pd.merge(pd.merge(employees_df,titles_df,left_on='emp_title_id',right_on= 'title_id'),salaries_df,on='emp_no')
employees_sal_title.head()